package views

import "github.com/caarvid/armadan/web/template/partials"
import "github.com/caarvid/armadan/internal/armadan"

templ ManageUsers(users []armadan.User) {
	@AdminLayout() {
		@adminHeader() {
			<h3 class="font-semibold leading-none tracking-tight text-2xl">Användare</h3>
		}
		if len(users) == 0 {
			@partials.NoData("Nya användare kommer dyka upp här")
		} else {
			@partials.UserTable(users)
		}
	}
}
