@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-base {
    @apply h-9 px-4 py-2 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50;
  }

  .btn-default {
    @apply btn-base bg-primary text-primary-foreground shadow hover:bg-primary/90;
  }

  .btn-link {
    @apply btn-base text-primary underline-offset-4 hover:underline;
  }

  .btn-secondary {
    @apply btn-base bg-secondary text-secondary-foreground shadow-sm hover:bg-secondary/80;
  }

  .btn-ghost {
    @apply btn-base hover:bg-accent hover:text-accent-foreground;
  }

  .input {
    @apply flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50;
  }

  .input-number {
    @apply input [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
  }

  .select {
    @apply appearance-none relative flex h-9 w-full items-center justify-between whitespace-nowrap rounded-md border border-input bg-transparent px-3 py-2 text-sm shadow-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50;
  }

  .table {
    @apply w-full caption-bottom text-sm;
  }

  .thead {
    @apply [&_tr]:border-b;
  }

  .tbody {
    @apply [&_tr:last-child]:border-0;
  }

  .tr {
    @apply border-b transition-colors hover:bg-muted/50;
  }

  .th {
    @apply h-10 px-2 text-left align-middle font-medium text-muted-foreground;
  }

  .td {
    @apply p-2 align-middle;
  }
}

@layer base {
  :root {
    /* --background: 0 0% 100%; */
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --destructive-background: 0 100% 50% / 0.1;

    --ring: 215 20.2% 65.1%;

    --radius: 0.2rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
