package partials

import "github.com/caarvid/armadan/internal/schema"

templ PlayerList(players []schema.GetPlayersRow) {
	<div id="player-list" class="flex flex-col gap-2 flex-1">
		for _, player := range players {
			@Player(player)
		}
	</div>
}
