package partials

import "github.com/caarvid/armadan/internal/schema"

templ PlayerList(players []schema.GetPlayersRow) {
	<div id="player-list" class="flex flex-col gap-2 flex-1">
		<div class="relative w-full overflow-auto">
			<table class="w-full caption-bottom text-sm">
				<tbody class="tbody">
					for _, player := range players {
						@Player(player)
					}
				</tbody>
			</table>
		</div>
	</div>
}
