package partials

import "github.com/caarvid/armadan/internal/armadan"

templ PlayerList(players []armadan.Player) {
	@Table("player-list") {
		<thead class="thead">
			<tr class="tr">
				<th class="th w-1/5">Förnamn</th>
				<th class="th w-1/5">Efternamn</th>
				<th class="th w-1/3">Email</th>
				<th class="th w-1/12">HCP</th>
				<th class="th"></th>
			</tr>
		</thead>
		<tbody class="tbody">
			for _, player := range players {
				@Player(player)
			}
		</tbody>
	}
}
