package partials

import "github.com/caarvid/armadan/internal/armadan"

templ WeekTeeSelect(tees []armadan.Tee) {
	<select name="teeId" class="select" id="tees" required>
		<option hidden disabled selected value>Tee</option>
		for _, tee := range tees {
			<option value={ tee.ID.String() }>{ tee.Name }</option>
		}
	</select>
}
