package partials

templ WrongCredentials() {
	<div
		id="login-error"
		class="relative w-full rounded-lg border px-4 py-2 text-sm [&>svg+div]:translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-4 [&>svg~*]:pl-7 border-destructive/50 text-destructive [&>svg]:text-destructive mb-3 bg-destructive-background"
	>Fel email eller lösenord!</div>
}
